// customize theme variables
$secondary: indigo;
$base-padding: 1rem;
$base-border-thickness: 3px;

.container-text{
    
        margin: 0 20px;
        display: flex;
        color: white;


    .container-text1, .container-text2{
        margin: 0 20px;
        padding: 15px 20px;
        background-color: rgb(32, 30, 30);
    }

    .container-text1{
        flex-basis: 40%;
    }

    .container-text2{
        flex-basis: 60%;
    }

    p {
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
    }

    a{
        text-decoration: underline; 
        color: yellow;
    }
}

@import 'shinobi'; 


